$primary-color: #444;
$secondary-color: #eece18;
$show-home-image: true;
$home-image: url(../img/portfolio2.jpg);
$background-opacity: 0.7;
@mixin background {
  @if $show-home-image {
    &#bg-image {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100;
        background: rgba($primary-color, $background-opacity);
        z-index: -1;
      }
    }
  }
}
@mixin easeout {
  transition: all 0.6s ease-out;
}
//Color change
@function color-switch($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//media Query.
@mixin mediaSM {
  @media screen and (max-width: 576px) {
    @content; // Smartphones (320px - 500px)
  }
}

// Tablets and small laptops (501px - 768px)
@mixin mediaMD {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Desktops and large laptops (769px - 1440px)
@mixin mediaLG {
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    @content;
  }
}

// Wide screens (1441px and above)
@mixin mediaXL {
  @media screen and (min-width: 1201px) {
    @content;
  }
}
